# MariaDB 10.4 repository list - created 2022-07-05 03:11 UTC
# https://mariadb.org/download/
deb https://download.nus.edu.sg/mirror/mariadb/repo/10.4/ubuntu focal main
# deb-src https://download.nus.edu.sg/mirror/mariadb/repo/10.4/ubuntu focal main